{% extends "base_dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block dev_active %}active{% endblock %}

{% block content %}
  <div class="col-md-6" style="margin: auto;">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">{% block form_title %}{{ form_title }}{% endblock%}</h4>
            <p class="category"></p>
        </div>
        <div class="card-body">
            <form action={{ redirect }} method="post" style="text-align: center; width: 50%; margin: auto;">
                {% csrf_token %}
                {{ form|crispy }}
                <div id="editor">{{body}}</div>
                <br>
                <a class="btn btn-default" href="#" onclick="window.history.back()">Back</a>
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
  </div>

<script src="{% static "dashboard/js/ace/ace.js" %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    document.getElementById("id_body").style.display = "none";
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/tomorrow");
    editor.session.setMode("ace/mode/python");
    editor.session.on('change', function(delta) {
        document.getElementById("id_body").value = editor.getValue()
    });
</script>
<style type="text/css" media="screen">
    #editor {
        height: 250px;
        border-radius: 5px;
    }
</style>
{% endblock %}

