{% extends "base_table.html" %}
{% load static %}

{% block title %} Function {% endblock %}
{% block dev_active %}active{% endblock %}
{% block table_title %} Function {% endblock %}
{% block table_sub %} {% endblock %}


{% block table_content %}
  <thead class="text-primary">
    <th>
      Application
    </th>
    <th>
      Name
    </th>
    <th>
      Description
    </th>
    <th>
      Approved
    </th>
    <th>
      Actions
    </th>
  </thead>
  <tbody>
    <tr>
      <td>
        {{ function.app.name }}
      </td>
      <td>
        {{ function.name }}
      </td>
      <td>
        {{ function.description }}
      </td>
      <td>
        {% if function.approved %}
        <i class="material-icons">check</i>
        {% else %}
        <i class="material-icons">close</i>
        {% endif %}
      </td>
      <td>
        <a href="/dev/edit/function/{{ function.id }}"><i class="material-icons">edit</i></a>
        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">delete</i></a>
         <div class="dropdown-menu" aria-labelledby="deletePolicyDropdownButton">
           <a class="dropdown-item" href="/dev/delete/function/{{ function.id }}">Delete</a>
         </div>
      </td>
    </tr>
  </tbody>
{% endblock %}

{% block post_table %}

<br>

<div class="card" style="width: 50%; margin: auto;">
  <div class="card-body">
    <h4 class="card-title"></h4>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <div id="editor">{{ function.body }}</div>
  </div>
</div>

<script src="{% static "dashboard/js/ace/ace.js" %}" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/tomorrow");
    editor.session.setMode("ace/mode/python");
    editor.setReadOnly(true);
</script>
<style type="text/css" media="screen">
    #editor { 
        margin: auto;
        height: 250px;
        border-radius: 5px;
    }
</style>

<br>

<a href="/dev/view/app/{{ function.app.id }}" class="btn btn-default">Back</a>
{% endblock %}

