# storage for certificates
/priv/cert/
static/
#Pyenv config
.python-version

.idea/
*.iml
# ignore generated parsers
__pycache__
.env
secret.yaml
.vscode
logs/*
env/*
env
config/*.yaml
.pidfile
ancile/web/static/
.DS_Store
_build/
