{% extends "base_dashboard.html" %}

{% block title %}Register{% endblock %}
{% block register_active %}active{% endblock%}
{% block content %}

{% for error in form.errors %}
{% endfor %}

<div class="card" style="max-width: 400px; margin: 0 auto;">
    <div class="card-header card-header-text card-header-primary" style="margin:0 auto;">
        <div class="card-text" style="text-align: center">
            <h2 class="card-title">Register</h4>
        </div>
    </div>
    <div class="card-body">
        <p style="text-align: center;">
            Already have an account? <a href="/login">Login</a>.
        </p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group {% if form.username.errors %}has-danger{% endif %}">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="username" id="username">
                    <span class="material-icons form-control-feedback">clear</span>
                    {% if form.username.errors %}
                     <p style="color:#f44336;">{{ form.username.errors.as_text }}</p>
                    {% endif %}
                </div>
                
                <div class="form-group {% if form.email.errors %}has-danger{% endif %}">
                    <label for="email">Email address</label>
                    <input class="form-control" type="text" name="email" id="email">
                    <span class="material-icons form-control-feedback">clear</span>
                    {% if form.email.errors %}
                    <p style="color:#f44336;">{{ form.email.errors.as_text }}</p>
                   {% endif %}
                </div>
                
                <div class="form-group {% if form.first_name.errors %}has-danger{% endif %}">
                    <label for="first_name">First name</label>
                    <input class="form-control" type="text" name="first_name" id="first_name">
                    <span class="material-icons form-control-feedback">clear</span>
                    {% if form.first_name.errors %}
                    <p style="color:#f44336;">{{ form.first_name.errors.as_text }}</p>
                   {% endif %}
                </div>
                
                <div class="form-group {% if form.last_name.errors %}has-danger{% endif %}">
                    <label for="last_name">Last name</label>
                    <input class="form-control" type="text" name="last_name" id="last_name">
                    <span class="material-icons form-control-feedback">clear</span>
                    {% if form.last_name.errors %}
                    <p style="color:#f44336;">{{ form.last_name.errors.as_text }}</p>
                   {% endif %}
                </div>
                
                <div class="form-group {% if form.password1.errors %}has-danger{% endif %}">
                    <label for="password1">Password</label>
                    <input class="form-control" type="password" name="password1" id="password1">
                    <span class="material-icons form-control-feedback">clear</span>
                    {% if form.password1.errors %}
                    <p style="color:#f44336;">{{ form.password1.errors.as_text }}</p>
                    {% endif %}
                </div>
                
                <div class="form-group {% if form.password2.errors %}has-danger{% endif %}">
                    <label for="password2">Password confirmation</label>
                    <input class="form-control" type="password" name="password2" id="password2">
                    <span class="material-icons form-control-feedback">clear</span>
                    {% if form.password2.errors %}
                    <p style="color:#f44336;">{{ form.password2.errors.as_text }}</p>
                   {% endif %}
                </div>
            <div style="width:100%; text-align: center;">
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </form>
    </div> 
</div>

{% endblock %}
