aniso8601==7.0.0
asn1crypto==0.24.0
bcrypt==3.1.7
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==3.2
dill==0.3.0
Django==2.2.13
django-webpack-loader==0.6.0
geographiclib==1.49
geopy==1.20.0
graphene==2.1.8
graphene-django==2.5.0
graphql-core==2.2.1
graphql-relay==2.0.0
gunicorn==19.9.0
idna==2.8
numpy==1.17.1
oauthlib==3.1.0
pika==1.1.0
promise==2.2.1
psycopg2-binary==2.8.3
pycparser==2.19
PyJWT==1.7.1
pytz==2019.2
PyYAML==5.1.2
redis==3.3.8
requests==2.22.0
requests-oauthlib==1.2.0
RestrictedPython>=5.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.12.0
sly==0.3
sqlparse==0.3.0
tzlocal==2.0.0
urllib3==1.25.3
wrapt==1.11.2