asn1crypto==0.24.0
bcrypt==3.1.7
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
dill==0.3.0
Django==2.2.4
django-crispy-forms==1.7.2
geographiclib==1.49
geopy==1.20.0
gunicorn==19.9.0
idna==2.8
numpy==1.17.0
oauthlib==3.0.2
psycopg2-binary==2.8.3
pycparser==2.19
PyJWT==1.7.1
pytz==2019.2
PyYAML==5.1.2
redis==3.3.5
requests==2.22.0
requests-oauthlib==1.2.0
RestrictedPython==4.0
six==1.12.0
sly==0.3
sqlparse==0.3.0
tzlocal==2.0.0
urllib3==1.25.3
wrapt==1.11.2
