{% extends "base_dashboard.html" %}


{% block title %}Dashboard{% endblock %}
{% block dashboard_active %}active{% endblock %}

{% block content %}
<div class="card" style="max-width: 400px;margin: 0 auto;text-align: center;">
  <img class="card-img-top" src="/static/dashboard/img/ancile.png" alt="Ancile Logo">
  {% if user.is_authenticated %}
  <div class="card-header">
      <h2 class="card-title">Welcome back, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}.</h2>
  </div>
  <div class="card-body">
    <a href="/logout" class="btn btn-danger">Logout</a>
    {% if pending_dev %}
    <p>Developer request pending.</p>
    {% else %}
        {% if user.is_developer is False %}
        <a href="/user/request/dev"><p>Request to be a Developer.</p></a>
        {% endif %}
    {% endif %}
  </div>
  {% else %}
  <div class="card-body">
    <p class="card-text"><strong>Ancile</strong> is a light, flexible framework for privacy-aware applications.</p>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-primary">Register</a>
  </div>
  {% endif %}
</div>
{% endblock %}
