{% extends "base_dashboard.html" %}

{% block title %}Login{% endblock %}
{% block login_active %}active{% endblock%}
{% block content %}

{% if form.errors %}
<div class="alert alert-danger" style="max-width: 400px; margin: 0 auto;" role="alert">
Your username and password didn't match. Please try again.
</div>
{% endif %}

<br>
<div class="card" style="max-width: 400px; margin: 0 auto;">
    <div class="card-header card-header-text card-header-primary" style="margin:0 auto;">
        <div class="card-text" style="text-align: center">
            <h2 class="card-title">Welcome to Ancile</h4>
            <h4 class="category">Please login to continue</h4>
        </div>
    </div>
    <div class="card-body">
        {% if next %}
        <div class="alert alert-warning" role="alert">
            {% if user.is_authenticated %}
            You don't have permission to view this page.
            {% else %}
            Please login to continue.
            {% endif %}
        </div>
        <br>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                <input class="form-control" type="text" name="username">
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                <input class="form-control" type="password" name="password">
            </div>
            <div style="width:100%; text-align: center;">
                <button type="submit" class="btn btn-primary">Log in</button>
                <a href="/register" class="btn btn-primary">Register</a>
            </div>
            <input type="hidden" name="next" value="{{ next }}" >
        </form>
    </div>
</div>

{% endblock %}
