{% extends "base_table.html" %}

{% block title %} Policies {% endblock %}
{% block policies_active %}active{% endblock %}
{% block table_title %} Policies {% endblock %}
{% block table_sub %} These are the policies that determine how apps can use your data. {% endblock %}

{% block table_content %}
  <thead class=" text-primary">
    <th>
      App
    </th>
    <th>
      Data Provider
    </th>
    <th>
      Read Only?
    </th>
    <th>
      Active?
    </th>
    <th>
      Actions
    </th>
  </thead>
  <tbody>
    {% for policy in policies %}
    <tr>
      <td>
        {{ policy.app.name }}
      </td>
      <td>
        {{ policy.provider.name }}
      </td>
      <td>
        {% if policy.read_only %}
        <i class="material-icons">check</i>
        {% else %}
        <i class="material-icons">close</i>
        {% endif %}
      </td>
      <td>
        {% if policy.active %}
        <i class="material-icons">check</i>
        {% else %}
        <i class="material-icons">close</i>
        {% endif %}
      </td>
      <td>
        <a href="#"><i class="material-icons">pageview</i></a>
        <a href="#"><i class="material-icons">edit</i></a>
        <a href="#"><i class="material-icons">delete</i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
{% endblock %}
