{% extends "base_dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="card" style="max-width:500px;">
    <div class="card-header card-header-text card-header-primary" style="margin:0 auto;">
        <div class="card-text" style="text-align: center">
            <h4 class="card-title">{% block form_title %}{{ form_title }}{% endblock%}</h4>
        </div>
    </div>
    <div class="card-body">
        <form action={{ redirect }} method="post" style="text-align: center; margin: auto;">
            {% csrf_token %}
            {{ form|crispy }}
            <div id="editor"></div>
            <br>
            <a class="btn btn-default" href="#" onclick="window.history.back()">Back</a>
            <input id="submitjson" class="btn btn-primary" type="submit" value="Save">
        </form>
    </div>
</div>

<link href="{% static "dashboard/jsoneditor/jsoneditor.min.css" %}" rel="stylesheet" type="text/css">
<script src="{% static "dashboard/jsoneditor/jsoneditor.min.js" %}"></script>

<script type="text/javascript">
    // create the editor
    var container = document.getElementById("editor");
    var options = {
        onChange : function () {
            document.getElementById("id_json").value = editor.getText();
        }
    };
    var editor = new JSONEditor(container, options);
    var data = "{{body}}".replace(/&#39;/g, "'");
    editor.setText(data);
</script>
{% endblock %}

