{% extends "base_table.html" %}

{% block title %}Providers{% endblock %}
{% block providers_active %}active{% endblock %}
{% block table_title %} Providers {% endblock %}
{% block table_sub %} These are the data sources that apps have access to. {% endblock %}

{% block buttons %}
<button type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#addProviderModal"><i class="material-icons">add</i>Add Provider</button>
{% endblock %}
{% block table_content %}
  <thead class=" text-primary">
    <th>
      Data Provider
    </th>
    <th>
      Authorized Scopes
    </th>
    <th>
      Expires At
    </th>
    <th>
      Actions
    </th>
  </thead>
  <tbody>
    {% for token in tokens %}
    <tr>
      <td>
        {{ token.provider.display_name }}
      </td>
      <td>
        <ul>
        {% for scope in token.scopes.all %}
          <li>{{ scope.simple_name }}</li>
        {% endfor %}
        </ul>
      </td>
      <td class="timestamp" style="display: none;">
        {{ token.expires_at }}
      </td>
      <td>
        <a href="#" onclick="removeProvider(this, '{{ token.provider.path_name }}'); return false"><i class="material-icons">delete</i></a>
        <a href="/user/view/token/{{token.id}}" ><i class="material-icons">pageview</i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <div class="alert alert-success" id="delete-success" role="alert" style="display:none;">
      Token deleted.
    </div>
    <div class="alert alert-danger" id="delete-fail" role="alert" style="display:none;">
      Error.
    </div>
{% endblock %}
{% block post_table %}
<div id="addProviderModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Provider</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
              <label for="chosen-provider">Provider name:</label>
              <select class="form-control" id="chosen-provider">
                <option selected="selected"></option>
                {% for provider in all_providers %}
                <option value="{{ provider.path_name }}">{{ provider.display_name }}</option>
                {% endfor %}
              </select>
          </div>
          <div class="form-check" id="scope-group" style="display:none">
            <label for="chosen-scopes">Select your scopes:</label>
            <div id="chosen-scopes">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add-button">Add Provider</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script src="/static/dashboard/js/user/providers.js">

</script>

{% endblock %}
