{% extends "default.html" %}

{% block title %}Admin Panel{% endblock %}

{% block content %}

<h1>Editing Provider {{ provider.OAUTH_NAME.capitalize() }}</h1>

<hr class="my-4">

<form action={{ url_for("admin_handle_edit_provider", name=provider.OAUTH_NAME) }} method="POST" style="width: 50%; margin: auto;">
    <label for="idTextarea">Client ID</label>
    <input type="text" class="form-control" id="idTextarea" name="idTextarea">

    <label for="secretTextarea">Client Secret</label>
    <input type="text" class="form-control" id="secretTextarea" name="secretTextarea">

    <br>

    <input type="submit" value="Edit Provider" class="btn btn-primary">

</form>

<br>

<a class="btn btn-secondary btn-lg" href="/admin#providers" style="color:white;">Back</a>

{% endblock %}
