
<form method="POST" action="/admin/add_group" id="addGroupForm">

  <label for="appSelect">App</label>
  <select class="form-control" id="appSelect" name="appSelect">
    {% for app in apps %}
      <option>{{ app.email }}</option>
    {% endfor %}
  </select>

  <label for="nameInput">Name</label>
  <input type="text" class="form-control" id="nameInput" name="nameInput">

  <label for="descriptionTextarea">Description</label>
  <textarea class="form-control" id="descriptionTextarea" name="descriptionTextarea" rows="3"></textarea>

  <br>

  <input type="submit" class="btn btn-primary" value="Add group" form="addGroupForm">

</form>
