{% extends "default.html" %}

{% block title %}App Panel{% endblock %}

{% block content %}

<h1>Policy</h1>

<hr class="my-4">

{% include "policy_visualizer.html" %}
<form method="POST" action={{ url_for("app_handle_edit_policy", id=policy.id) }} id="editPolicyForm" style="width: 50%; margin: auto;">

  <label for="groupSelect">Group</label>
  <select class="form-control" id="groupSelect" name="groupSelect">
    {% for group in groups %}
      <option {% if group is eq default_group %} selected=selected {% endif %}>{% if group is none %} None {% else %}{{ group.name }}{% endif%}</option>
    {% endfor %}
  </select>

  <label for="purposeTextarea">Purpose</label>
  <textarea class="form-control" id="purposeTextarea" name="purposeTextarea" rows="3">{{ default_purpose }}</textarea>

  <label for="policyTextarea">Policy</label>
  <textarea class="form-control" id="policyTextarea" name="policyTextarea" rows="3">{{ default_policy }}</textarea>

  <label for="providerSelect">Provider</label>
  <select class="form-control" id="providerSelect" name="providerSelect">
    {% for provider in providers %}
      <option {% if provider.OAUTH_NAME is eq default_provider %} selected=selected {% endif %}>{{ provider.OAUTH_NAME }}</option>
    {% endfor %}
  </select>

  <br>

  <input type="submit" class="btn btn-primary" value="Edit policy" form="editPolicyForm">

</form>

<br>

<a class="btn btn-secondary btn-lg" href="/app#prepolicies" style="color:white;">Back</a>

{% endblock %}
