{% extends "default.html" %}

{% block title %}User Panel{% endblock %}

{% block content %}

<h1 class="display-5">User Control Panel</h1>

<p class="lead">Here, you can set your privacy policies and manage your data providers.</p>

<a class="btn btn-secondary btn-lg" href="/logout">Logout</a>

<hr class="my-4">

<ul class="nav nav-tabs">
  <li class="nav-item" href="#overview" data-toggle="tooltip" data-placement="top" data-original-title="View your account information.">
    <a class="nav-link active" data-toggle="tab" href="#overview">Account Overview</a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="top" data-original-title="View your registered data providers.">
    <a class="nav-link" data-toggle="tab" href="#providers">Data Providers</a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="top" data-original-title="View your listed data policies.">
    <a class="nav-link" data-toggle="tab" href="#policies">Policies</a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="top" data-original-title="Available apps.">
    <a class="nav-link" data-toggle="tab" href="#apps">Apps</a>
  </li>
</ul>

<div id="tabContent" class="tab-content">
  <div class="tab-pane fade active show" id="overview">
    {% include "overview_pane.html" %}
  </div>
  <div class="tab-pane fade" id="providers">
    {% include "user_tokens_pane.html" %}
  </div>
  <div class="tab-pane fade" id="policies">
    {% include "user_policies_pane.html" %}
  </div>
  <div class="tab-pane fade" id="apps">
    {% include "user_apps_pane.html" %}
  </div>
</div>

{% include "panel_script.html" %}

{% endblock %}
