{% extends "default.html" %}

{% block title %}User Panel{% endblock %}

{% block content %}

<h1>Token</h1>

<hr class="my-4">

<table style="width:50%; margin:auto; text-align: left;">
  <tr>
    <th>Provider:</th>
    <td>{{ token.name }}</td>
  </tr>
  <tr>
    <th>Access Token:</th>
    <td>{{ token.access_token }}</td>
  </tr>
  <tr>
    <th>Refresh Token:</th>
    <td>{{ token.refresh_token }}</td>
  </tr>
  <tr>
    <th>Expires:</th>
    <td>{{ token.expiry_date() }}</td>
  </tr>
</table>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Value</th>
        <th scope="col">More</th>
    </tr>
    </thead>
    <tbody>

    {% for key in loads(token.private_data) %}
        <tr class="table-secondary">
            <th scope="row">{{ key }}</th>
            <td>{{ loads(token.private_data)[key] }}</td>
            <td><a href={{ url_for("user_remove_data", name=token.name, key=key) }}>Delete</a></td>
        </tr>
    {% endfor %}

    <form method="POST" action={{ url_for("user_add_data", name=token.name) }} id="addDataForm">
    <tr>
    <th> 
        <input type="text" class="form-control" name="keyInput" placeholder="Name">
    </th>
    <td> 
        <input type="text" class="form-control" name="valueInput" placeholder="Value">
    </td>
    <td>
        <input type="submit" class="btn btn-primary" form="addDataForm" style="color: white" value="Append">
    </td>
    </tr>

    </tbody>
</table>


<br>
<br>

<a class="btn btn-primary btn-lg" href={{ url_for("user_edit_token", name=token.name) }}>Edit data</a>
<a class="btn btn-secondary btn-lg" href="/panel" style="color:white;">Back</a>

{% endblock %}
