<section class="phx-hero">
  <h1><%= gettext "Add you program: " %></h1>
</section>

<section class="row">
  <article class="column">
    <h2>Resources</h2>
    <ul>
    <li>
        <a href="/app/dashboard/">Dashboard</a>
    </li>


    </ul>
  </article>
  <article class="column">
    <h2>Help</h2>
    <ul>
      <li>
        <a href="/">Main</a>
      </li>
    </ul>
  </article>
</section>
