<section class="phx-hero" style="width: 1000px">
    <h1><%= gettext "Here is your API token:" %></h1>
    <h5><%= @token %> </h5>
</section>

<section class="row">
    <article class="column">
        <h2>Resources</h2>
        <ul>
            <li>
                <a href="/app/dashboard">Dashboard</a>
            </li>

        </ul>
    </article>
</section>
