{% extends "default.html" %}

{% block title %}Admin Panel{% endblock %}

{% block content %}

<h1 class="display-5">Admin Control Panel</h1>

<p class="lead">Here, you can set your privacy policies and manage your data providers.</p>

<a class="btn btn-secondary btn-lg" href="/logout">Logout</a>

<hr class="my-4">

<ul class="nav nav-tabs">
  <li class="nav-item" data-toggle="tooltip" data-placement="top" data-original-title="Account Information">
    <a class="nav-link active" data-toggle="tab" href="#overview">Account</a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="top" data-original-title="User List">
    <a class="nav-link" data-toggle="tab" href="#users">Users</a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="top" data-original-title="Token List">
    <a class="nav-link" data-toggle="tab" href="#tokens">Tokens</a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="top" data-original-title="App List">
    <a class="nav-link" data-toggle="tab" href="#apps">Apps</a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="top" data-original-title="Policy List">
    <a class="nav-link" data-toggle="tab" href="#policies">Policies</a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="top" data-original-title="Add and remove OAuth providers.">
    <a class="nav-link" data-toggle="tab" href="#providers">OAuth Providers</a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="top" data-original-title="View apps custom functions.">
    <a class="nav-link" data-toggle="tab" href="#functions">Functions</a>
  </li>
</ul>

<div id="tabContent" class="tab-content">
  <div class="tab-pane fade active show" id="overview">
    {% include "overview_pane.html" %}
  </div>
  <div class="tab-pane fade" id="users">
    {% include "admin_users_pane.html" %}
  </div>
  <div class="tab-pane fade" id="tokens">
    {% include "admin_tokens_pane.html" %}
  </div>
  <div class="tab-pane fade" id="apps">
    {% include "admin_apps_pane.html" %}
  </div>
  <div class="tab-pane fade" id="policies">
    {% include "admin_policies_pane.html" %}
  </div>
  <div class="tab-pane fade" id="providers">
    {% include "admin_providers_pane.html" %}
  </div>
  <div class="tab-pane fade" id="functions">
    {% include "admin_functions_pane.html" %}
  </div>
</div>

{% include "panel_script.html" %}

{% endblock %}
