<form method="POST" action="/admin/add_provider" id="addProviderForm">

  <label for="nameInput">Name</label>
  <input class="form-control" id="nameInput" name="nameInput">

  <label for="baseURLInput">Base URL</label>
  <input class="form-control" id="baseURLInput" name="baseURLInput">

  <label for="accessURLInput">Access Token URL</label>
  <input class="form-control" id="accessURLInput" name="accessURLInput">

  <label for="authURLInput">Authorize URL</label>
  <input class="form-control" id="authURLInput" name="authURLInput">

  <br>

  <input type="submit" class="btn btn-primary" value="Add provider" form="addProviderForm">

</form>
