<form method="POST" action="/admin/add_provider" id="addProviderForm">

  <label for="nameTextarea">Name</label>
  <textarea class="form-control" id="nameTextarea" name="nameTextarea" rows="1"></textarea>

  <label for="baseURLTextarea">Base URL</label>
  <textarea class="form-control" id="baseURLTextarea" name="baseURLTextarea" rows="1"></textarea>

  <label for="accessURLTextarea">Access Token URL</label>
  <textarea class="form-control" id="accessURLTextarea" name="accessURLTextarea" rows="1"></textarea>

  <label for="authURLTextarea">Authorize URL</label>
  <textarea class="form-control" id="authURLTextarea" name="authURLTextarea" rows="1"></textarea>

  <br>

  <input type="submit" class="btn btn-primary" value="Add provider" form="addProviderForm">

</form>
