<table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Email</th>
        <th scope="col">Tokens</th>
        <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr class="table-default">
        <td>{{ user.email }}</td>
        <td>
        {% for token in user.tokens %}
            {{ token.name + " " }}
        {% endfor %}
        </td>
        <td><a href={{ url_for("admin_delete_account", id=user.id) }}>Delete</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
