<form method="POST" action={{ url_for("app_add_function")}} id="addFunctionForm">

  <label for="nameInput">Name</label>
  <input type="text" class="form-control" id="nameInput" name="nameInput"></input>

  <label for="descriptionTextarea">Description</label>
  <textarea class="form-control" id="descriptionTextarea" name="descriptionTextarea" rows="3"></textarea>

  <label for="codeTextarea">Code</label>
  <textarea id="codeTextarea" name="codeTextarea" style="display: none;"></textarea>
  <div id="executeEditor">def function():</div>

  <div>test</div>

  <br>

  <input type="submit" class="btn btn-primary" value="Submit function" form="addFunctionForm">

</form>

<style type="text/css" media="screen">
    #executeEditor { 
        height: 250px;
        border-radius: 5px;
    }
</style>

<script src={{ url_for("static", filename="ace/ace.js") }} type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("executeEditor");
    editor.setTheme("ace/theme/tomorrow");
    editor.session.setMode("ace/mode/python");
    editor.session.on('change', function(delta) {
        document.getElementById("codeTextarea").value = editor.getValue()
    });
</script>
