{% extends "default.html" %}

{% block title %}App Panel{% endblock %}

{% block content %}

<h1>Policy</h1>

<hr class="my-4">

<div style="background-color: #bbb; width: 50%; margin: auto; padding: 5px; word-wrap:break-word; font-family: monospace">
{{ policy.policy }}
</div>

<br>

<table class="table table-hover">
  <thead>
    <tr>
      {% if predefined is sameas False %}
      <th scope="col">User</th>
      {% else %}
      <th scope="col">Group</th>
      {% endif %}
      <th scope="col">Purpose</th>
      <th scope="col">Provider</th>
      {% if predefined is sameas False %}
      <th scope="col">Read-only?</th>
      <th scope="col">Active?</th>
      {% else %}
      <th scope="col">Approved?</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    <tr class="table-default">
      {% if predefined is sameas False %}
      <td>{{ policy.user.email  }}</td>
      {% else %}
      {% if policy.group is none %}
      <td>None</td>
      {% else%}
      <td>{{ policy.group.name  }}</td>
      {% endif %}
      {% endif %}
      <td style="word-break:break-all;">{{ policy.purpose }}</td>
      <td>{{ policy.provider }}</td>
      {% if predefined is sameas False %}
      <td>{{ policy.read_only  }}</td>
      <td>{{ policy.active  }}</td>
      {% else %}
      <td>{{ policy.approved  }}</td>
      {% endif %}
    </tr>
  </tbody>
</table>

<a class="btn btn-secondary btn-lg" href="/app#prepolicies" style="color:white;">Back</a>

{% endblock %}
