{% extends "default.html" %}

{% block title %}User Panel{% endblock %}

{% block content %}

<h1>Token</h1>

<hr class="my-4">

<table style="width:50%; margin:auto; text-align: left;">
  <tr>
    <th>Provider:</th>
    <td>{{ token.name }}</td>
  </tr>
  <tr>
    <th>Access Token:</th>
    <td>{{ token.access_token }}</td>
  </tr>
  <tr>
    <th>Refresh Token:</th>
    <td>{{ token.refresh_token }}</td>
  </tr>
  <tr>
    <th>Expires:</th>
    <td>{{ token.expiry_date() }}</td>
  </tr>
</table>

<table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
    </tr>
    </thead>
    <tbody>

    {% for key in loads(token.private_data) %}
        <tr class="table-secondary">
          <th scope="row">{{ key }}</th>
          <td>{{ loads(token.private_data)[key] }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

<br>

<a class="btn btn-primary btn-lg" href={{ url_for("user_edit_token", name=token.name) }}>Edit data</a>
<a class="btn btn-secondary btn-lg" href="/panel" style="color:white;">Back</a>

{% endblock %}
