<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Expires At</th>
      <th scope="col">More</th>
    </tr>
  </thead>
  <tbody>
    {% for item in providers %}
    <tr class="table-default">
      <th scope="row">{{ item.name }}</th>
      <td>{{ item.expiry_date() }}</td>
      <td>
        <a href= {{ url_for("user_view_token", name=item.name) }} >View</a>
        <a href= {{ url_for("user_delete_token", name=item.name) }} >Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="modal" id="addprovider">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Data Provider</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if available is eq [] %}
            You have set up all available providers!
        {% else %}
            Click on a data provider and follow the instructions to authorize Ancile to handle your data.
        {% endif %}
        <hr class="my-4">
        {% for item in available %}
          <p><a href={{ "/" + item.OAUTH_NAME + "/login" }} >{{ item.OAUTH_NAME }}</a></p>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<a class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#addprovider" style="color:white;">Add Provider</a>
