
{% include "policy_visualizer.html" %}
<form method="POST" action="/user/add_policy" id="addPolicyForm">

  <label for="appSelect">App</label>
  <select class="form-control" id="appSelect" name="appSelect">
    {% for app in apps %}  
      <option>{{ app.email }}</option>
    {% endfor %}
  </select>

  <label for="purposeTextarea">Purpose</label>
  <textarea class="form-control" id="purposeTextarea" name="purposeTextarea" rows="3"></textarea>

  <label for="policyTextarea">Policy</label>
  <textarea class="form-control" id="policyTextarea" name="policyTextarea" rows="3"></textarea>

  <label for="providerSelect">Provider</label>
  <select class="form-control" id=`"providerSelect" name="providerSelect">
    {% for provider in providers %}  
      <option>{{ provider.name }}</option>
    {% endfor %}
  </select>

  <label for="active">Active?</label>
  <input type="checkbox" name="active"></input>

  <br>

  <input type="submit" class="btn btn-primary" value="Add policy" form="addPolicyForm">

</form>
