{% extends "default.html" %}

{% block title %}Admin Panel{% endblock %}

{% block content %}

<h1>Policy</h1>

<hr class="my-4">

<form method="POST" action={{ url_for("user_handle_edit_policy", id=id) }} id="editPolicyForm" style="width: 50%; margin: auto;">

  <label for="appSelect">App</label>
  <select class="form-control" id="appSelect" name="appSelect">
    {% for app in apps %}  
      <option {% if app.email is eq default_app %} selected=selected {% endif %}>{{ app.email }}</option>
    {% endfor %}
  </select>

  <label for="purposeTextarea">Purpose</label>
  <textarea class="form-control" id="purposeTextarea" name="purposeTextarea" rows="3">{{ default_purpose }}</textarea>

  <label for="policyTextarea">Policy</label>
  <textarea class="form-control" id="policyTextarea" name="policyTextarea" rows="3">{{ default_policy }}</textarea>

  <label for="providerSelect">Provider</label>
  <select class="form-control" id="providerSelect" name="providerSelect">
    {% for provider in providers %}  
      <option {% if provider.OAUTH_NAME is eq default_provider %} selected=selected {% endif %}>{{ provider.OAUTH_NAME }}</option>
    {% endfor %}
  </select>

  <label for="active">Active?</label>
  <input type="checkbox" name="active" {% if default_active is eq True %} checked {% endif %} ></input>

  <br>

  <input type="submit" class="btn btn-primary" value="Edit policy" form="editPolicyForm">

</form>

<br>

<a class="btn btn-secondary btn-lg" href="/user#policies" style="color:white;">Back</a>

{% endblock %}
