{% extends "default.html" %}

{% block title %}User Panel{% endblock %}

{% block content %}

<h1>Policy Group {{group.name}} for App {{app.email}}</h1>

<hr class="my-4">


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Purpose</th>
      <th scope="col">Provider</th>
      <th scope="col">More</th>
    </tr>
  </thead>
  <tbody>
    {% for policy in policies %}
    <tr class="table-default">
      <td style="word-break:break-all;">{{ policy.purpose }}</td>
      <td>{{ policy.provider  }}</td>
      <td><a href={{url_for("user_use_predefined_policy", id=policy.id)}}>Use</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn btn-primary btn-lg" href="/user/use_group/{{group.name}}" style="color:white;">Add group</a>
<a class="btn btn-secondary btn-lg" href="/user/view_app/{{app.id}}" style="color:white;">Back</a>

{% endblock %}
