{% extends "base_table.html" %}

{% block title %} Policy {% endblock %}
{% block admin_active %}active{% endblock %}
{% block table_title %} Policy {% endblock %}
{% block table_sub %} {% endblock %}


{% block table_content %}
  <thead class="text-primary">
    <th>
      Application
    </th>
    <th>
      User
    </th>
    <th>
      Provider
    </th>
    <th>
      Active
    </th>
    <th>
      Active
    </th>
  </thead>
  <tbody>
    <tr>
      <td>
        {{ policy.app.name }}
      </td>
      <td>
        {{ policy.user.username }}
      </td>
      <td>
        {{ policy.provider.display_name }}
      </td>
      <td>
        {% if policy.active %}
        <i class="material-icons">check</i>
        {% else %}
        <i class="material-icons">close</i>
        {% endif %}
      </td>
      <td>
        <a href="/admin/edit/policy/{{ policy.id }}"><i class="material-icons">edit</i></a>
        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">delete</i></a>
         <div class="dropdown-menu" aria-labelledby="deletePolicyDropdownButton">
           <a class="dropdown-item" href="/admin/delete/policy/{{ policy.id }}">Delete</a>
         </div>
      </td>
    </tr>
  </tbody>
{% endblock %}

{% block post_table %}

<div class="card" style="width: 50rem; margin: auto;">
  <div class="card-body">
    <h4 class="card-title"></h4>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text" style="font-family: monospace;">
    {{ policy.text }}
    </p>
  </div>
</div>

<br>

<a href="/admin/view/user/{{ policy.user.id }}" class="btn btn-default">Back</a>
{% endblock %}

